<a href="https://colab.research.google.com/github/NavoditPawar/BasicsOfCoding/blob/master/control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of Python

In [ ]:
reservior_vol= 4.445e8
print(reservior_vol)
rainfall = 5e6
print(rainfall)

444500000.0
5000000.0

In [ ]:
rainfall *= 0.9
print(rainfall)

4050000.0

In [ ]:
reservior_vol+=rainfall

In [ ]:
print(reservior_vol)

448550000.0

In [ ]:
reservior_vol*=1.05
print(reservior_vol)

470977500.0

In [ ]:
reservior_vol*=0.95
print(reservior_vol)

447428625.0

In [ ]:
reservior_vol-=2.5e5
print(reservior_vol)

447178625.0

In [ ]:

carrots = 24
rabbit = 8
crb_pr_rab = carrots / rabbit

In [ ]:
print(crb_pr_rab)

3.0

In [ ]:
rabbit=12
print(crb_pr_rab)

3.0

In [ ]:
treats = 19/0.01
print (treats)

1900.0

In [ ]:
sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682, 486.5

san_francisco_pop_density = sf_population/sf_area
rio_de_janeiro_pop_density = rio_population/rio_area

# Write code that prints True if San Francisco is denser than Rio, and False otherwise
density = san_francisco_pop_density > rio_de_janeiro_pop_density
print(density)

False

In [ ]:
statement = '" i think you\'re an exceptional persona"'
print(statement)

" i think you're an exceptional persona"

In [ ]:
first = 'howdy brotha'
second = 'you goooooood?'
print ((first +  " "  + second)*5 )

howdy brotha you goooooood?howdy brotha you goooooood?howdy brotha you goooooood?howdy brotha you goooooood?howdy brotha you goooooood?

In [ ]:
print (len(first))

12

In [ ]:
print(type(first))

<class 'str'>

In [ ]:
first[0]

'h'

In [ ]:
# TODO: Fix this string!
ford_quote = "'Whether you think you can, or you think you can't--you're right.'"
print(ford_quote)

'Whether you think you can, or you think you can't--you're right.'

In [ ]:
username = "Kinari"
timestamp = "04:50"
url = "http://petshop.com/pets/mammals/cats"

# TODO: print a log message using the variables above.
# The message should have the same format as this one:
# "Yogesh accessed the site http://petshop.com/pets/reptiles/pythons at 16:20."
print (username + " accessed the site " + url + " at " + timestamp)

Kinari accessed the site http://petshop.com/pets/mammals/cats at 04:50

In [ ]:
given_name = "William"
middle_names = "Bradley"
family_name = "Pitt"

name_length = len(given_name + " " + middle_names + " " + family_name)#todo: calculate how long this name is
print(name_length)
# Now we check to make sure that the name fits within the driving license character limit
# Nothing you need to do here
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

20
True

In [ ]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.
type(mon_sales)

str

In [ ]:
total_sales = int(mon_sales) + int(thurs_sales) + int(wed_sales) + int(thurs_sales) + int(fri_sales)
print(total_sales)

522

In [ ]:
print ( "This week's total sales :" + str(total_sales))

This week's total sales :522

In [ ]:
mon_sales = "121"
mon_sales = int(mon_sales)

In [ ]:
type(mon_sales)

int

In [ ]:

# Write two lines of code below, each assigning a value to a variable


# Now write a print statement using .format() to print out a sentence and the 
#   values of both of the variables
weapon = 'round'
action = 'pierce'
print('is your {} {}'.format(weapon, action))

is your round pierce

In [ ]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"
print(verse)

# Use the appropriate functions and methods to answer the questions above
# Bonus: practice using .format() to output your answers in descriptive messages!
#What is the length of the string variable verse?
#What is the index of the first occurrence of the word 'and' in verse?
#What is the index of the last occurrence of the word 'you' in verse?
#What is the count of occurrences of the word 'you' in the verse?

len(verse)

If you can keep your head when all about you
  Are losing theirs and blaming it on you,
If you can trust yourself when all men doubt you,
  But make allowance for their doubting too;
If you can wait and not be tired by waiting,
  Or being lied about, don’t deal in lies,
Or being hated, don’t give way to hating,
  And yet don’t look too good, nor talk too wise:

362

In [ ]:
verse.find('and')

65

In [ ]:
verse.rfind('you')

186

In [ ]:
count = verse.count('you')

In [ ]:
print(count)

8

# Data Structures in Python

In [ ]:
month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

# use list indexing to determine the number of days in month

num_days= days_in_month[month - 1]


print(num_days)

31

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
                 
                 
# TODO: Modify this line so it prints the last three elements of the list
print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

#LIST

In [ ]:
VINIX = ['C', 'MA', 'BA', 'PG', 'CSCO', 'VZ', 'PFE', 'HD', 'INTC', 'T', 'V', 'UNH', 'WFC', 'CVX', 'BAC', 'JNJ', 'GOOGL', 'GOOG', 'BRK.B', 'XOM', 'JPM', 'FB', 'AMZN', 'MSFT', 'AAPL']

#Now, printing the tickers becomes slightly easier. And you don't have to remember the names of the strings!
print('C' in VINIX)
total_stocks=len(VINIX)+1
print(total_stocks)

True
26

In [ ]:
scores = ['a','b','f','p','z','l']
sorted(scores)

['a', 'b', 'f', 'l', 'p', 'z']

In [ ]:
scores[3]

'p'

In [ ]:
scores[3]='z'

In [ ]:
print(scores)

['a', 'b', 'f', 'z', 'z', 'l']

In [ ]:
print('scores are' + str(scores) )

scores are['a', 'b', 'f', 'z', 'z', 'l']

In [ ]:
deltadriz= ["fore", "aft", "starboard", "port"]
new_str = "\n".join(deltadriz)
print(new_str)

fore
aft
starboard
port

In [ ]:
deltadriz= ["fore", "aft", "starboard", "port"]
new_str = "--".join(deltadriz)
print(new_str)

fore--aft--starboard--port

In [ ]:
letters = ['a', 'b', 'c', 'd',"fore", "aft", "starboard", "port"]
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'fore', 'aft', 'starboard', 'port', 'z']

In [ ]:
a = [1, 5, 8]
b = [2, 6, 9, 10]
c = [100, 200]

print(max([len(a), len(b), len(c)]))
print(min([len(a), len(b), len(c)]))

4
2

In [ ]:
names = ["Carol", "Albert", "Ben", "Donna"]
names.append("Eugenia")
print(sorted(names))
jeez="-&6%".join(names)
print(jeez)

['Albert', 'Ben', 'Carol', 'Donna', 'Eugenia']
Carol-&6%Albert-&6%Ben-&6%Donna-&6%Eugenia

# TUPLES

Ordered and Imumutable

In [ ]:
location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])
latitude, longitude = location[0], location[1]

Latitude: 13.4125
Longitude: 103.866667

In [ ]:
dimensions = 0, 1, 2, 3
a, b, c, d = dimensions
print ('the dimensions are {} x {} x {} x {}'.format(a, b, c, d))

the dimensions are 0 x 1 x 2 x 3

In [ ]:
tuple_a=1,2,3
tube_b = (1,2,3)
print(tuple_a==tube_b)

True

# SET

In [ ]:
a = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
b = set(a)
print(len(a) - len(b))

6

In [ ]:
a = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
b = set(a)
b.add(5)
print(b)
b.pop()
print(b)
b.pop()
print(b)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{3, 4, 5}

# DICTIONARY

In [ ]:
# Define a Dictionary, population,
# that provides information
# on the world's largest cities.
# The key is the name of a city
# (a string), and the associated
# value is its population in
# millions of people.

#   Key     |   Value
# Shanghai  |   17.8
# Istanbul  |   13.3
# Karachi   |   13.0
# Mumbai    |   12.5

population = {'Shanghai':17.8,'Instanbul':13.3,'Karachi':13.0,'Mumbai':12.5}
print (population)

{'Shanghai': 17.8, 'Instanbul': 13.3, 'Karachi': 13.0, 'Mumbai': 12.5}

In [ ]:
print(population.get('London'))

None

In [ ]:
population.get("america",'you dumb bro, wrong fricking cityy biatch')

'you dumb bro, wrong fricking cityy biatch'

In [ ]:
animals = {'dogs': [20, 10, 15, 8, 32, 15], 'cats': [3,4,2,8,2,4], 'rabbits': [2, 3, 3], 'fish': [0.3, 0.5, 0.8, 0.3, 1]}
print (animals['dogs'][5],animals['cats'])

15 [3, 4, 2, 8, 2, 4]

In [ ]:
type(animals)

dict

In [ ]:
type(animals['dogs'])

list

In [ ]:
VINIX = {'C': [0.74, -6.51], 'MA': [0.78, 34.77], 'BA': [0.79, 17.01], 'PG': [0.85, -8.81], 'CSCO': [0.88, 18.56], 'VZ': [0.9, 2.16], 'PFE': [0.92, 13.96], 'HD': [0.97, 3.2], 'INTC': [1.0, 2.61], 'T': [1.01, -15.19], 'V': [1.02, 24.0], 'UNH': [1.02, 19.32], 'WFC': [1.05, -3.59], 'CVX': [1.05, -5.77], 'BAC': [1.15, 4.27], 'JNJ': [1.41, -5.58], 'GOOGL': [1.46, 17.84], 'GOOG': [1.47, 17.03], 'BRK.B': [1.5, 4.54], 'XOM': [1.52, -6.87], 'JPM': [1.53, 7.66], 'FB': [2.02, 0.91], 'AMZN': [2.96, 62.75], 'MSFT': [3.28, 26.61], 'AAPL': [3.94, 26.01]}
print(VINIX.get('PG','Naah'))

[0.85, -8.81]

In [ ]:
# invalid dictionary - this should break
room_numbers = {
    ['Freddie', 'Jen']: 403,
    ['Ned', 'Keith']: 391,
    ['Kristin', 'Jazzmyne']: 411,
    ['Eugene', 'Zach']: 395
}

TypeError: ignored

In [ ]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}
print (elements)

{'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}

In [ ]:
elements['helium']['weight']

4.002602

In [ ]:
oxygen = {'oxygen':{'number':8,'weight':8.04,'symbol':'O'}}

In [ ]:
elements['Oxygen']=oxygen

In [ ]:
print(elements)

{'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'Oxygen': {'oxygen': {'number': 8, 'weight': 8.04, 'symbol': 'O'}}}

In [ ]:
verse = "if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise"
print(verse, '\n')

# split verse into list of words
verse_list = verse.split()
print(verse_list, '\n')



# print the number of unique words
num_unique = set(verse_list)
print(num_unique, '\n')

if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise

['if', 'you', 'can', 'keep', 'your', 'head', 'when', 'all', 'about', 'you', 'are', 'losing', 'theirs', 'and', 'blaming', 'it', 'on', 'you', 'if', 'you', 'can', 'trust', 'yourself', 'when', 'all', 'men', 'doubt', 'you', 'but', 'make', 'allowance', 'for', 'their', 'doubting', 'too', 'if', 'you', 'can', 'wait', 'and', 'not', 'be', 'tired', 'by', 'waiting', 'or', 'being', 'lied', 'about', 'don’t', 'deal', 'in', 'lies', 'or', 'being', 'hated', 'don’t', 'give', 'way', 'to', 'hating', 'and', 'yet', 'don’t', 'look', 'too', 'good', 'nor', 'talk', 'too', 'wise']

{'nor', 'about', 'wait', 'men', 'head', 'be', 'it', 'but', 'doubting', 'look', 'talk', 'by', 'lies', 'or', 'you', 'blaming', 'in', 'doubt', 'hated', 'when', 'theirs', 'on', 'your', 'losing', 'hating', 'being', 'tired', 'and', 'yourself', 'way', 'give', 'don’t', 'can', 'keep', 'all', 'for', 'too', 'are', 'good', 'their', 'deal', 'to', 'waiting', 'not', 'lied', 'wise', 'allowance', 'yet', 'if', 'trust', 'make'}

# CONTROL FLOW

In [ ]:
season = 'Baarish'
if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden!')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')

unrecognized season

In [ ]:
#First Example - try changing the value of phone_balance
phone_balance = 10
bank_balance = 50

if phone_balance < 10:
    phone_balance += 10
    bank_balance -= 10

print(phone_balance)
print(bank_balance)

#Second Example - try changing the value of number

number = 142
if number % 2 == 0:
    print("Number " + str(number) + " is even.")
else:
    print("Number " + str(number) + " is odd.")

#Third Example - try to change the value of age
age = 63

# Here are the age limits for bus fares
free_up_to_age = 4
child_up_to_age = 18
senior_from_age = 65

# These lines determine the bus fare prices
concession_ticket = 1.25
adult_ticket = 2.50

# Here is the logic for bus fare prices
if age <= free_up_to_age:
    ticket_price = 0
elif age <= child_up_to_age:
    ticket_price = concession_ticket
elif age >= senior_from_age:
    ticket_price = concession_ticket
else:
    ticket_price = adult_ticket

message = "Somebody who is {} years old will pay ${} to ride the bus.".format(age, ticket_price)
print(message)

10
50
Number 142 is even.
Somebody who is 63 years old will pay $2.5 to ride the bus.

In [ ]:
points = 174  # use this input to make your submission

# write your if statement here
if points <51:
    print( "your prize is {}".format('wooden rabbit'))
elif points <151:
    print( "your prize is {}".format('no prize'))
elif points < 181 :
    print( "your prize is {}".format('wafer thin mint'))
else:
    print( "your prize is {}".format('penguin'))

your prize is wafer thin mint

FOR LOOP

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

# Write a for loop to print out each word in the sentence list, one word per line
for word in sentence:
    print( word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [ ]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here

for name in names:
    tags = name
    usernames = tags.replace(' ', '_')
    print(usernames)

Joey_Tribbiani
Monica_Geller
Chandler_Bing
Phoebe_Buffay

In [ ]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here

for name in names:
    usernames = name.lower().replace(' ', '_')
    print(usernames)

joey_tribbiani
monica_geller
chandler_bing
phoebe_buffay

In [ ]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']
word_counter = {}
for word in book_title:
    word_counter[word] = word_counter.get(word, 0)+1
print (word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

DICTIONARIES

In [ ]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }
for key in cast:
    print (key)

Jerry Seinfeld
Julia Louis-Dreyfus
Jason Alexander
Michael Richards

In [ ]:
for key, value in cast.items():
    print("Actor: {}    Role: {}".format(key, value))

Actor: Jerry Seinfeld    Role: Jerry Seinfeld
Actor: Julia Louis-Dreyfus    Role: Elaine Benes
Actor: Jason Alexander    Role: George Costanza
Actor: Michael Richards    Role: Cosmo Kramer

In [ ]:
# You would like to count the number of fruits in your basket. 
# In order to do this, you have the following dictionary and list of
# fruits.  Use the dictionary and list to count the total number
# of fruits, but you do not want to count the other items in your basket.

result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for object, count in basket_items.items():
    if object in fruits:
      result+=count


print( 'there are {} fruits in the basket'.format(result))
#if the key is in the list of fruits, add the value (number of fruits) to result


print(result)

there are 23 fruits in the basket
23

In [ ]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

# adds the last element of the card_deck list to the hand list
# until the values in hand add up to 17 or more
while sum(hand)  < 17:
    hand.append(card_deck.pop())

In [ ]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# write your for loop here
while number<=1:
    product = product * number
    number = number-+ 1


# print the factorial of number
print(product)

1

In [ ]:
egg_count = 0

def buy_eggs():
    egg_count += 12 # purchase a dozen eggs

buy_eggs()

UnboundLocalError: ignored

In [10]:
print(list(range(4)))

[0, 1, 2, 3]

In [11]:
print(list(range(2,6)))

[2, 3, 4, 5]

In [14]:
print(list(range(2,12,3)))

[2, 5, 8, 11]

In [15]:
for number in range(4):
  print(number)

0
1
2
3

In [16]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

In [19]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for index in range(len(cities)):
    cities[index]= cities[index].title()
    print(cities)

['New York City', 'mountain view', 'chicago', 'los angeles']
['New York City', 'Mountain View', 'chicago', 'los angeles']
['New York City', 'Mountain View', 'Chicago', 'los angeles']
['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

In [22]:
for city in cities:
    city = city.title()
    print (city)
print('ho gaya'.title())

New York City
Mountain View
Chicago
Los Angeles
Ho Gaya

In [23]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

# Write a for loop to print out each word in the sentence list, one word per line
for word in sentence:
  print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [27]:
print(list(range(5,31,5)))

[5, 10, 15, 20, 25, 30]

In [28]:
for i in range(1,32):
  if i%5 == 0:
    print(i)

5
10
15
20
25
30

In [32]:
for i in range(5, 36, 5):
  print (i)

5
10
15
20
25
30
35

In [39]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here
for name in names:
    name = name.replace(' ', '_')
  #usernames.append(username)

print(names)

['Joey Tribbiani', 'Monica Geller', 'Chandler Bing', 'Phoebe Buffay']

In [36]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

for name in names:
    name = name.lower().replace(" ", "_")

print(names)

['Joey Tribbiani', 'Monica Geller', 'Chandler Bing', 'Phoebe Buffay']

In [40]:
print(range(len(names)))

range(0, 4)

In [51]:
colors = ['Red', 'Blue', 'Green', 'Purple']
lower_colors = [ ]

for color in colors:
    #finish this part
    #color=color.lower()
    #print(color)
    #return(colors)
    #print (colors)
    lower_colors.append(color.lower())
print(lower_colors)

['red', 'blue', 'green', 'purple']

In [58]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }
for key,value in cast.items():
  #print (key, value)
  print ( "actor : {} and roles : {}".format(key, value))

actor : Jerry Seinfeld and roles : Jerry Seinfeld
actor : Julia Louis-Dreyfus and roles : Elaine Benes
actor : Jason Alexander and roles : George Costanza
actor : Michael Richards and roles : Cosmo Kramer

In [61]:
print( "interating through keys")
for key in cast:
  print(key)

print( 'iterating through keys and role')
for key, value in cast.items():
    print(key , value)

interating through keys
Jerry Seinfeld
Julia Louis-Dreyfus
Jason Alexander
Michael Richards
iterating through keys and role
Jerry Seinfeld Jerry Seinfeld
Julia Louis-Dreyfus Elaine Benes
Jason Alexander George Costanza
Michael Richards Cosmo Kramer

In [69]:
# You would like to count the number of fruits in your basket. 
# In order to do this, you have the following dictionary and list of
# fruits.  Use the dictionary and list to count the total number
# of fruits, but you do not want to count the other items in your basket.

result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary

#if the key is in the list of fruits, add the value (number of fruits) to result
for key,value in basket_items.items():
  if key in fruits:
    result += value
print(result)

23

In [72]:
#Example 1

result = 0
basket_items = {'pears': 5, 'grapes': 19, 'kites': 3, 'sandwiches': 8, 'bananas': 4}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

# Your previous solution here
for key,value in basket_items.items():
  if key in fruits:
    result += value
print(result)

#Example 2

result = 0
basket_items = {'peaches': 5, 'lettuce': 2, 'kites': 3, 'sandwiches': 8, 'pears': 4}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

# Your previous solution here
for key,value in basket_items.items():
  if key in fruits:
    result += value
print(result)



#Example 3

result = 0
basket_items = {'lettuce': 2, 'kites': 3, 'sandwiches': 8, 'pears': 4, 'bears': 10}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

# Your previous solution here
for key,value in basket_items.items():
  if key in fruits:
    result += value
print(result)

28
9
4

In [74]:
# You would like to count the number of fruits in your basket. 
# In order to do this, you have the following dictionary and list of
# fruits.  Use the dictionary and list to count the total number
# of fruits and not_fruits.

fruit_count, not_fruit_count = 0, 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for fruit, count in basket_items.items():
#if the key is in the list of fruits, add to fruit_count.
    if fruit in fruits:
      fruit_count+=count
#if the key is not in the list, then add to the not_fruit_count
    else :
      not_fruit_count+=count

print(fruit_count, not_fruit_count)

23 11

In [75]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# track the current number being multiplied
current = 1

# write your while loop here
while number>0:
    # multiply the product so far by the current number
    product*=number
    number-=1
    
    # increment current with each iteration until it reaches number



# print the factorial of number
print(product)

720

In [83]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# write your for loop here
for number in range(2, number+1):
  product*=number
  


# print the factorial of number
print(product)

720

In [88]:
# write a while loop that uses break_num as the ongoing number to 
#   check against end_num

start_num = 0 #provide some start number
end_num = 101 #provide some end number that you stop when you hit
count_by = 5 #provide some number to count by 
break_num = start_num

while break_num < end_num:
    break_num += count_by

print(break_num)

105

In [89]:
limit = 48

num = 0
while (num+1)**2 < limit:
    num += 1
nearest_square = num**2

print(nearest_square)

36

In [97]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]
sum=0
count=0
i=0
len_num_list = len(num_list)

while (count<5) and (i<len_num_list):
  if num_list[i]%2!=0:
    sum+=num_list[i]
    count+=1
  i+=1
print (sum)
print (count)
#for i in num_list:
#  if i%2==1:
#    while count<5:
#      count+=1
#      sum=i+sum
#      print(count)
#      print(sum)

993
5

In [98]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

# the code breaks the loop when weight exceeds or reaches the limit
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking loop now!")
        break
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

# skips an iteration when adding an item would exceed the limit
# breaks the loop if weight is exactly the value of the limit
print("\nMETHOD 2")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking from the loop now!")
        break
    elif weight + cargo_weight > 100:
        print("  skipping {} ({})".format(cargo_name, cargo_weight))
        continue
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']

METHOD 2
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  skipping machine (120)
current weight: 81
  adding cheeses (5)

Final Weight: 86
Final Items: ['bananas', 'mattresses', 'dog kennels', 'cheeses']

In [99]:
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""
for headline in headlines:
    news_ticker += headline + " "
    if len(news_ticker) >= 140:
        news_ticker = news_ticker[:140]
        break

print(news_ticker)

Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave

In [105]:
## Your code should check if each number in the list is a prime number
check_prime = [26, 39, 51, 53, 57, 79, 85]

## write your code here
## HINT: You can use the modulo operator to find a factor

for num in check_prime:
  for i in range(2,num):
    if num%i==0:
      print ('{} is not prime, because {} is a factor of {}'.format(num, i, num))
      break
    if i == num -1:
      print( "{} is a prime number".format(num))

26 is not prime, because 2 is a factor of 26
39 is not prime, because 3 is a factor of 39
51 is not prime, because 3 is a factor of 51
53 is a prime number
57 is not prime, because 3 is a factor of 57
79 is a prime number
85 is not prime, because 5 is a factor of 85